- var page = 'Home';
include blocks/blocks
doctype html
html.no-js.is-observer
  include components/head.pug
  body
    include components/header.pug
    main#content

    include components/footer.pug
